.contacts {
    padding-top: 65px;
    padding-bottom: 50px;
    border-bottom: 1px solid $add-dark-color;

    &__text {
        margin: 0;
        font-family: 'Raleway', sans-serif;
        font-size: 12px;
        color: $yellow-color;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 23px;
    }

    &__link {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 14px;
        color: $light-color;
        text-transform: lowercase;
    }
}

@media (max-width: $desktop-width) {
    .contacts {
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
    }
}

@media (max-width: $middle-width) {
    .contacts {
        padding-top: 50px;
        padding-bottom: 50px;
        border-bottom: 1px solid $add-dark-color;
    }
}

@media (max-width: $tablet-width) {
    .contacts {
        &__item {
            width: 50%;
            padding-bottom: 20px;
        }
    }
}


@media (max-width: $mobile-width) {
    .contacts {
        &__item {
            width: 100%;
            text-align: center;
        }
    }
}