$dark-color: #333333;
$add-dark-color: #666666;

$light-color: #ffffff;
$add-light-color: #c5c5c5;

$green-color: #73b63c;
$yellow-color: #fde557;
$orange-color: #f7ab32;
$pink-color: #e5248a;
$blue-color: #4bbdd5;
$brown-color: #d8bb90;

$bg-color:  #36485d;
$bg-light-color: #f9f9f9;

$mobile-width: 480px;
$tablet-width: 660px;
$middle-width: 960px;
$desktop-width: 1200px;

$retina-dpi: 144dpi; 
$retina-dppx: 1.5dppx;